# Server configuration
PORT=4000

# Database
MONGO_URI=mongodb+srv://Vercel-Admin-atlas-gullycric:DjZYjnpZxki9aAkx@atlas-gullycric.maztcgy.mongodb.net/?retryWrites=true&w=majority

# Frontend URL for CORS
CLIENT_URL=https://your-vercel-app.vercel.app